<!doctype html>
<html>
    <head>
        <title>Convert your file to a Mioskin CSV</title>
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data">
            <p><label>Fichier d'entrée <input type="file" name="file" /></label></p>
            <p><label><input type="checkbox" name="csv" /> CSV</label></p>
            <p><label><input type="checkbox" name="radar_type" /> RADAR_TYPE</label></p>
            <p><label><input type="checkbox" name="speed" /> SPEED</label></p>
            <p><label><input type="checkbox" name="dirtype" /> DIRTYPE</label></p>
            <p><label><input type="checkbox" name="direction" /> DIRECTION</label></p>
            <p><label><input type="checkbox" name="mioskin" checked="checked" /> MIOSKIN</label></p>
            <p><label><input type="checkbox" name="scdb" /> SCDB</label></p>
            <p><label><input type="checkbox" name="hauteur" /> HAUTEUR</label></p>
            <p><label><input type="checkbox" name="surcharge" /> SURCHARGE</label></p>
            <input type="submit" value="Convertir" />
        </form>
    </body>
</html>
